* {
	font-family: 'Lato', sans-serif;
}

body {
	background: url(images/landing_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.gray-block {
	background-color: #333333;
	width: 100%;
	height: 400px;
	opacity: .75;
	top: 22%;
	position: absolute;
	margin: 0 auto;
	z-index: -1;
}
.landing-circle {
	padding-left: 75px;
	padding-right: 75px;
	border-radius: 50%;
}
#circle-images {
	padding-top: 20px;
	width: 90%;
	margin: auto;
}
.dropdown {
	padding-top: 90px;
}
.btn {
  width: 275px;
}
.dropdown-menu {
	width: 275px;
}
li {
	text-align: center;
}
.main-content {
	width: 100%;
	height: 400px;
	position: absolute;
	top: 22%;
}
